.skills {
  .inner {
    .contents {
      .skills-list {
        display: flex;
        justify-content: space-between;
        // flex-wrap: wrap;
        li {
          width: 30%;
          text-align: center;
          margin-bottom: 10px;
          img {
            width: 40%;
          }
        }
      }
    }
  }
} // 데스크탑
@media screen and (max-width: $desktop) {
}
// 타블렛
@media screen and (max-width: $tablet) {
}
// 모바일
@media screen and (max-width: $mp) {
  .skills-list {
    li {
      width: 50% !important;
    }
  }
}
